@import "../variables";


$mfp-title-bottom:            12rem;
$mfp-title-font-family:       'Exo 2', sans-serif, Calibri;
$mfp-title-font-size:         $h5-font-size;


$mfp-btn-width:               4rem;
$mfp-btn-height:              4rem;

$mfp-z-index-base:            9999999999999999;

$mfp-arrow-width:             5rem;
$mfp-arrow-height:            5rem;