@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$z-index-default: 1025;
$fa-font-path: '~$fortawesome/fontawesome-free/webfonts';
$item-padding: 2rem;
$nav-link-color: #fff;
$html-font-size: 10px;
$primary-color: #d4153b;
$transition: 0.3s ease;
$selection-bg: $primary-color;
$selection-color: #fff;
$animation-time: 4s;
$font-lg: 6.4rem;
$border: #d4153b;
$border-second: #fff;
$border-radius: 1rem;
$header-height: 7.4rem;
$top-edge: 4rem;
$aside-edge: 0rem;
$padding-default-y: 2rem;
$padding-default-x: 2rem;
$margin-top-default: 1.5rem;
$margin-bottom-default: 1.5rem;
$margin-section-x: 0;
$margin-section-y: 4rem;
$padding-section-x: 0;
$padding-section-y: 8rem;
$card-image-top-height: 18rem;
$bullet-width: 3rem;
$bullet-height: 3rem;
$bullet-color: theme-color('secondary');
$bullet-color-secondary: lighten(theme-color('secondary'), 7.5%);
$bullet-color-active: theme-color('primary');
$bullet-color-active-secondary: lighten(theme-color('primary'), 7.5%);
$h1-font-size: 4.8rem;
$h2-font-size: 3.8rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;
$hl-font-size: 18.8rem;
$input-font-size: 1.6rem;
$input-height: 5rem;
$input-border-radius: 10rem;
$input-border-width: 0;
$input-padding-x: 2rem;
$input-focus-box-shadow: 0 0 1rem 0.3rem rgba(212, 21, 59, 0.51);
$color-option-width: 4rem;
$color-option-height: 4rem;
$color-options-padding-y: $padding-default-y;
$color-options-padding-x: $padding-default-x;
$control-label-margin: 2rem;
$bordered-x: 3%;
$bordered-y: 3%;
$bg-pos-y: -2rem;
$navbar-toggler-font-size: 2rem;
$base-font-size: 1.4rem;
$logo-width: 17.2rem;
$gallery-slider-border-color: #fff;
$home-padding-x: 0;
$home-padding-y: 4rem;
$image-block-thumb-mobile-w: 2rem;
$image-block-thumb-mobile-h: 2rem;
$msproducts-price-padd-x: $padding-default-x * 3;
$msproducts-price-padd-y: $padding-default-y;
$msproducts-row-padding-y: 0;
$msproducts-row-padding-x: $padding-default-x * 2;
$catalog-padding-y:0;
$catalog-padding-x:6rem;
$msproducts-row-margin-bottom: $margin-bottom-default * 5;
$check-icon-w: 2rem;
$check-icon-h: 2.1rem;
$check-icon-margin-r: 0.5rem;
$check-li-margin-b: 1rem;
$title-first-margin-b: 4rem;
$msproducts-item-margin-bottom: $margin-bottom-default;